<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
       ">

    <context:component-scan base-package="simplified.Online.Shop" />

    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:jdbc.properties</value>
            </list>
        </property>
    </bean>

    <!--DTO-->
    <bean class="simplified.Online.Shop.dto.User" id="user" scope="singleton"></bean>
    <bean class="simplified.Online.Shop.dto.Product" id="product" scope="singleton"></bean>

    <!--DAO-->
    <bean class="simplified.Online.Shop.dao.UserDAOImpl" id="userDAO">
        <property name="dataSource" ref="dataSource"/>
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>
    <bean class="simplified.Online.Shop.dao.ProductDAOImpl" id="productDAO">
        <property name="dataSource" ref="dataSource"/>
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>

    <!--Service-->
    <bean class="simplified.Online.Shop.service.UserServiceImpl" id="userService">
        <property name="userDAO" ref="userDAO"/>
    </bean>
    <bean class="simplified.Online.Shop.service.ProductServiceImpl" id="productService">
        <property name="productDAO" ref="productDAO"/>
    </bean>

    <!--Connection to Database-->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${jdbc.db.driverClassName}"/>
        <property name="url" value="${jdbc.db.url}"/>
        <property name="username" value="${jdbc.db.username}"/>
        <property name="password" value="${jdbc.db.password}"/>
    </bean>

    <bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
        <property name="configLocation" value="classpath:sql-maps-config.xml"/>
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
</beans>